<mat-toolbar>
  <span routerLink="" class="cursor-pointer">Rent Hub</span>
  <span class="utility-spacer"></span>
  <section>
    <div class="d-flex">
      <button mat-button aria-label="Search property" routerLink="/searchProperty">Search Property</button>
      <button *ngIf="isAuthenticated && isPropertyPoster" mat-button aria-label="Login button" routerLink="/postProperty">Post Property</button>
      <button *ngIf="!isAuthenticated" mat-button aria-label="Login button" routerLink="/login">Login</button>
      <button *ngIf="isAuthenticated" mat-button aria-label="Logout button" (click)="logout()">Logout</button>
      <button *ngIf="!isAuthenticated" mat-button aria-label="Register button" routerLink="/register">Register</button>
      <button *ngIf="isAuthenticated" mat-icon-button aria-label="User profile button" routerLink="/profile">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </section>
</mat-toolbar>

<router-outlet></router-outlet>